*{
    font-family: sans-serif;
}


html{
    width: 60;
    color:#011963;
    background-color:#F2F2F2;
}

.summary{
    text-align: center;
}

h1{
    font-size: 1.8rem;
    text-align: center;
    color:#2E4CA6;
}

h2{
    font-size: 1.4rem;
    text-align: center;
    color:#2E4CA6;
}

h3{
    font-size: 1.2rem;
    text-align: center;
    color:#2E4CA6;
}

p{
    text-indent: 1em;
}

abbr{
    font-variant: small-caps;
}

a{
    color: #4167D9;
}

#zen-supporting{
    line-height: 1.5;
}